{% extends "base.html" %}

{% block title %}Politique relative aux cookies{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-5">Politique de confidentialité</h1>
      
      <div class="card mb-5">
        <div class="card-body">
          <h2>Collecte d'informations personnelles</h2>
          <p>Nous pouvons collecter les informations suivantes lorsque vous visitez notre site web :</p>
          <ul>
            <li>Votre nom ;</li>
            <li>Votre adresse e-mail ;</li>
            <li>Votre adresse IP ;</li>
            <li>Les pages que vous consultez sur notre site web ;</li>
            <li>Les informations que vous nous fournissez lorsque vous nous contactez.</li>
          </ul>
        </div>
      </div>
      
      <div class="card mb-5">
        <div class="card-body">
          <h2>Utilisation des informations personnelles</h2>
          <p>Nous pouvons utiliser les informations personnelles que nous collectons pour les finalités suivantes :</p>
          <ul>
            <li>Fournir et améliorer notre site web ;</li>
            <li>Vous contacter pour répondre à vos demandes ;</li>
            <li>Vous envoyer des newsletters et des offres promotionnelles ;</li>
            <li>Analyser l'utilisation de notre site web ;</li>
            <li>Prévenir la fraude et assurer la sécurité de notre site web.</li>
          </ul>
        </div>
      </div>
      
      <div class="card mb-5">
        <div class="card-body">
          <h2>Protection des informations personnelles</h2>
          <p>Nous mettons en place des mesures de sécurité pour protéger les informations personnelles que nous collectons contre l'accès non autorisé, la modification, la divulgation ou la destruction.</p>
        </div>
      </div>
      
      <div class="card mb-5">
        <div class="card-body">
          <h2>Divulgation des informations personnelles</h2>
          <p>Nous ne divulguons pas vos informations personnelles à des tiers, sauf si cela est nécessaire pour fournir des services sur notre site web ou si cela est requis par la loi.</p>
        </div>
      </div>
      
      <div class="card mb-5">
        <div class="card-body">
          <h2>Cookies</h2>
          <p>Nous utilisons des cookies sur notre site web pour améliorer votre expérience de navigation. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur web.</p>
        </div>
      </div>
      
      <div class="card mb-5">
        <div class="card-body">
          <h2>Modification de la politique de confidentialité</h2>
          <p>Nous pouvons modifier cette politique de confidentialité à tout moment. Nous vous encourageons à la consulter régulièrement pour prendre connaissance de toute mise à jour.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
