{% extends "base.html" %}

{% block title %}Cookie{% endblock %}

{% block body %}
<div class="content-wrapper upload-page edit-page">

   <h1>Politique de confidentialité</h1> 

<p>Nous nous engageons à protéger votre vie privée et vos données personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons les informations que vous nous fournissez lorsque vous visitez notre site web.

Collecte d'informations personnelles

Nous pouvons collecter les informations suivantes lorsque vous visitez notre site web :

Votre nom ;
Votre adresse e-mail ;
Votre adresse IP ;
Les pages que vous consultez sur notre site web ;
Les informations que vous nous fournissez lorsque vous nous contactez.
Utilisation des informations personnelles

Nous pouvons utiliser les informations personnelles que nous collectons pour les finalités suivantes :

Fournir et améliorer notre site web ;
Vous contacter pour répondre à vos demandes ;
Vous envoyer des newsletters et des offres promotionnelles ;
Analyser l'utilisation de notre site web ;
Prévenir la fraude et assurer la sécurité de notre site web.
Protection des informations personnelles

Nous mettons en place des mesures de sécurité pour protéger les informations personnelles que nous collectons contre l'accès non autorisé, la modification, la divulgation ou la destruction.

Divulgation des informations personnelles

Nous ne divulguons pas vos informations personnelles à des tiers, sauf si cela est nécessaire pour fournir des services sur notre site web ou si cela est requis par la loi.

Cookies

Nous utilisons des cookies sur notre site web pour améliorer votre expérience de navigation. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur web.

Modification de la politique de confidentialité

Nous pouvons modifier cette politique de confidentialité à tout moment. Nous vous encourageons à la consulter régulièrement pour prendre connaissance de toute mise à jour.
</p> 
</div>


{% endblock body %}
